.main-box{
    background-color: #fbe6f7;
    padding: 100px 0px;
}
.content-box{
    width: 50%;
     margin: auto;
  
}
.cakeism-img,.cake-img{
    width: 100%;
    height: 100%;
}
.Order-btn{
    padding: 10px 50px;
    background-color: #f0478f;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
